
@media screen {

        a { color: #850505; text-decoration: none; }

        p { margin: 0 0 10px 0; }

	.mybody { background-color: #6D6D6D; color: #3d3d3d; }

	#piler1 { width: 100%; height: 100%; background: #ffffff; border: 0px solid black; position: absolute; margin-left: auto; margin-right: auto; padding-top: 0px; }

	#messagebox1 { position: absolute; top: 0px; left: 50%; border: 3px solid red; display: none; background: orange; color: #000000; font-weight: bold; padding: 15px; z-index: 1; }
	#searchpopup1 { position: absolute; top: 30px; left: 0px; border: 1px solid #999999; display: none; background: #f8f8f8; color: #000000; font-weight: bold; padding: 15px; z-index: 1; }
        #popupx { position: absolute; right: 10px; top: 5px; margin: 10px; }

        #advsearch_caret { position: absolute; top: 15px; margin-left: -20px; margin-right: 20px; }

	#wrapemail { margin-left: 20px; background-color: white; width:200px; height: 300px; }
        .email { background-color: white; }

	#menu { height: 40px; border: 0px solid red; }
	#menu a:hover, #menu a:active { color: #850505; }

        #main { margin: 0px 40px 20px 40px; width: 100%; text-align: left; float: left; clear: both; }

	.sleek { margin:0; padding:0; }
	.center { text-align: center; }

	#expertsearch { position: absolute; border: 0px solid black; right: 20px; left: 20px; text-align: left; font: normal 19px Arial, sans-serif; margin-top: 10px; }

	#resultsheader { display: none; }
	#resultstop { position: absolute; width: 1140px; border: 0px solid #999; top: 120px; right: 20px; left: 20px; text-align: right; display: table; padding-right: 0px; margin-right: 20px; }

	#footer { clear: both; text-align: left; margin: 0; padding: 0 36px; }

	#A1 { text-align: right; }

        h3.title { color: #850505; }

	.formbottom { margin-bottom: 30px; }

	input#date1,input#date2{background-image:url(../images/calendar.png);background-position:right center;background-repeat:no-repeat;color:#000; text-align:left; text-indent:6px; cursor:pointer; }

        input#savedsearch{background-image:url(../images/search.png);background-position:right center;background-repeat:no-repeat;color:#000;font: bold 12px Arial, sans-serif;text-align:left;text-indent:6px;width:400px;height:15px; }

	.piler-right-margin { margin-right: 30px; }


	#search { float: left; width: 990px; margin-top: 5px; margin-bottom: 20px; }

	#search1 { float: left; width: 490px; margin: 0; border: 0px solid green; }

	#ss1 { display: table; border-collapse: collapse; margin: 0; padding: 0; margin-top: 10px; clear: both; }

	#results { float: left; width: 100%; margin-top: 0px; margin-bottom: 0px; border-collapse: collapse; display: table; clear: both; }

	#mailpreviewframe { text-align: left; overflow:auto; }

	#auditresultscontainer { float: left; width: 1180px; padding: 0; margin: 0; border-top: 0px solid black; border-bottom: 0px solid black; height: 580px; overflow: auto; }
	#auditresultscontainer.empty { border-bottom: 0px solid black; height: 580px; }

	#download_icon { margin: 0px 0 -2px 0; border: 0px solid black; }

	#sspinner { position: relative; width: 60%; border: 0px solid #999999; color: #000000; font-weight: bold; vertical-align: middle; text-align: left; padding: 15px; z-index: 1; display: none; margin: auto; margin-top: 150px; }

	.row { display: table-row; }
	.row.savedsearch { display: table-row; text-align: right; }
	.resultrow { display: table-row; height: 18px; font-style: italic; }
	.resultrow a { color: #3d3d3d; }
	.resultrow.odd { background: #f5f5f5; }
	.resultrow.new { font-style: normal; }
	.resultrow.new a { color: #850505; }
	.resultrow.selected { border: 2px solid black; }
	.resultrow.spam { color: #aaa; }

	.tcell { display: table-cell; }

	.cell1 { display: table-cell; height: 25px; text-align: left; padding: 3px; font: bold 12px Arial, sans-serif; width: 80px; }

	.cell2 { display: table-cell; width: 410px; height: 15px; }
	.top20px { margin-top: 20px; }
	.listarea { overflow:auto; height: 500px; }

	.auditcell { margin: 0; display: table-cell; text-align: left; vertical-align:middle; font-style: normal; border: 0px solid red; }
	.auditcell.date { width: 120px; }
	.auditcell.user { width: 120px; }
	.auditcell.action { width: 100px; }
	.auditcell.ip { width: 75px; }
	.auditcell.description { width: 325px; }
	.auditcell.ref { width: 90px; }
	.auditcell.header { height: 30px; font: bold 12px Arial, sans-serif; color: black; }

        #health1 { display: table-cell; margin-top: 10px; margin-bottom: 0; }
        #health2 { display: table-cell; text-align: right; }

	.cellhealthleft { display: table-cell; height: 25px; text-align: left; padding: 3px; font: bold 12px Arial, sans-serif; }
	.cellhealthright { display: table-cell; height: 25px; text-align: left; padding: 3px; font: normal 12px Arial, sans-serif; }

	#pagenav { float: left; margin-top: 0px; margin-bottom: 0px; text-align: left; width: 990px; border: 0px solid red; }
	.navrow { display: table-row; }
	.navlink { color: #bbb; font: bold 12px Arial, sans-serif; }
	#pagenav a.navlink { color: #850505; font: bold 12px Arial, sans-serif; }

        #pagingleft { display: table-cell; float: left; text-align: left; width: 60px;  border: 0px solid red; }
        #pagingcenter { display: table-cell; float: left; text-align: center; width: 145px; border: 0px solid red; }
        #pagingright { display: table-cell; float: left; text-align: right; width: 60px; border: 0px solid red; }

	.messagelink { border-bottom: 1px solid gray; color: #850505; }
	.messagelink.spam { border-bottom: 1px solid gray; color: #aaa; }
	#results a:hover { color: black; }


	input[type=textarea] { height:80px; }

	input[type=checkbox].restorebox { margin: 0; vertical-align: middle; }
	input[type=checkbox].popup { margin: 0; vertical-align: middle; }

	#messagepopup { margin: 10px 20px 10px 20px; padding: 0; background-color: white; text-align: left; }
	#restorebox { position: absolute; top: 20px; left: 15%; border: 3px solid red; display: none; background: orange; color: #000000; font-weight: bold; padding: 15px; z-index: 1; }

	.domainrow { display: table-row; border: 2px solid gray; padding: 10px; }
	.domaincell { display: table-cell; font: bold 12px Arial, sans-serif; border: 1px solid gray; padding: 5px; vertical-align: top; }
	.logincell { display: table-cell; font: bold 12px Arial, sans-serif; padding: 5px; vertical-align: top; }
	.domain { font: normal 12px Arial, sans-serif; font-weight: bold; text-align:left; width: 408px;}

	.login { text-align: center; margin-top:20%; }

	.folder { margin: 0 0 5px 10px; }

	.bold { font-weight: bold; }
	.left { text-align: left; }



	/* rc splitter stuff */


	#mainscreen { position: absolute; top: 90px; right: 20px; bottom: 20px; left: 20px; }

	#mailleftcontainer { position: absolute; top: 0; left: 0; bottom: 0; width: 195px; }
	#mailboxlist-container { position: absolute; top: 0; left: 0; width: 100%; bottom: 0; border: 1px solid #999; background-color: #F9F9F9; overflow-y: auto; overflow-x: hidden; }
	#mailboxlist { position:relative; height: auto; margin: 0px; padding: 0px; list-style-image: none; list-style-type: none; overflow: hidden; white-space: nowrap; background-color: #FFF; }
	#mailrightcontainer { position: absolute; top: 0; left: 170px; bottom: 0; right: 0; min-width: 400px; }
	#mailrightcontent { position: absolute; top: 0px; left: 0; right: 0; bottom: 0; }
	#mailcontframe { position: absolute; width: 100%; top: 0; bottom: 0; border: 1px solid #999999; background-color: #F9F9F9; overflow: hidden; }
	#mailpreviewframe { position: absolute; width: 100%; top: 205px; bottom: 0px; border: 1px solid #999999; background-color: #F9F9F9; }

	.boxlistcontent { position: absolute; top: 5px; bottom: 50px; left: 0; right: 0; width: 100%; overflow-y: auto; overflow-x: hidden; height: auto; }
	.boxfooter { position: absolute; bottom: 0px; left: 0px; right: 0px; overflow: hidden; border-top: 1px solid #999; }

	.splitter { user-select: none; -moz-user-select: none; -khtml-user-select: none; position: absolute; background: url(/view/theme/orig/images/dimple.png) center no-repeat; }
	.splitter-h { cursor: n-resize; cursor: row-resize; background-position: center 2px; }
	.splitter-v { cursor: e-resize; cursor: col-resize; background-position: 2px center; }



}


